
{{#section 'head'}}
    <title>LuxeLane - {{brand}}</title>
{{/section}}
<a href="/">Go to Home Page</a>
<h1>{{brand}} - {{model}}</h1>
<img height="200px" src="{{img}}">
<h4>Specs</h4>
<table>
    <tr>
        <th>Brand</th>
        <td>{{brand}}</td>
    </tr>
    <tr>
        <th>Model</th>
        <td>{{model}}</td>
    </tr>
    <tr>
        <th>Horse Power</th>
        <td>{{hp}}</td>
    </tr>
    <tr>
        <th>No. of seats</th>
        <td>{{seats}}</td>
    </tr>
    <tr>
        <th>Price (1 Day) </th>
        <td>${{dailyPrice}}</td>

    </tr>
</table> 
