
       <a href="/car-list">Go to Car List</a>
    <form method="post">
        <h3>Brand</h3>
        <input type="text" name="brand" id="brand" value="{{brand}}"/>
        <h3>Model</h3>
        <input type="text" name="model" id="model" value="{{model}}" />
        <h3>Hp</h3>
        <input type="number" name="hp" id="hp" value="{{hp}}"/>
        <h3>Seats</h3>
        <input type="number" name="seats" id="seats" value="{{seats}}"/>
        <h3>HourlyPrice</h3>
        <input type="number" name="hourlyPrice" id="hourlyPrice" value="{{hourlyPrice}}"/>
        <h3>Thumbnail</h3>
        <input type="text" name="thumbnail" id="thumbnail" value="{{thumbnail}}"/>
         <h3>Fuel</h3>
        <input type="text" name="fuel" id="fuel" value="{{fuel}}"/>
         <h3>Transmission</h3>
        <input type="text" name="transmission" id="transmission" value="{{transmission}}"/>
         <h3>BodyType</h3>
        <input type="text" name="bodyType" id="bodyType" value="{{bodyType}}"/>
         <h3>Doors</h3>
        <input type="number" name="doors" id="doors" value="{{doors}}"/>
        <h3>minDriverAge</h3>
        <input type="number" name="minDriverAge" id="minDriverAge" value="{{minDriverAge}}"/>
        <h3>minLicenseAge</h3>
        <input type="number" name="minLicenseAge" id="minLicenseAge" value="{{minLicenseAge}}"/>
        <h3>zeroToHundredKmh</h3>
        <input type="number" name="zeroToHundredKmh" id="zeroToHundredKmh" value="{{zeroToHundredKmh}}"/>


        <button type="submit">Save</button>
    </form>
    