{{#section 'head'}}
    <title>LuxeLane - {{brand}}</title>
{{/section}}
 <a href="/admin-dashboard" class="link-offset-2 link-underline link-underline-opacity-0">Go to Dashboard</a>

{{#each cars}}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card align-items-center justify-content-center text-center w-50 mt-3">
     <h2>{{brand}} - {{model}}</h2>
      <img src="{{thumbnail}}" class="card-img-top w-50 p-3" alt="...">
        <div class="card-car-price">
            <span style="float:left; margin: 0 1rem">Price (1 Hours) </span>
            <h3>${{hourlyPrice}}</h3>
        </div>
      <div class="card-body">
         <h4>Specs</h4>
        <table >
            <tr>
                <th>Brand</th>
                <td>{{brand}}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{model}}</td>
            </tr>
            <tr>
                <th>Horse Power</th>
                <td>{{hp}}</td>
            </tr>
            <tr>
                <th>No. of seats</th>
                <td>{{seats}}</td>
            </tr>
            <tr>
                <th>Fuel </th>
                <td>{{fuel}}</td>
            </tr>
            <tr>
                <th>Transmission </th>
                <td>{{transmission}}</td>
            </tr>
            <tr>
                <th>Body Type </th>
                <td>{{bodyType}}</td>
            </tr>
            <tr>
                <th>Doors </th>
                <td>{{doors}}</td>
            </tr>
            <tr>
                <th>Required Driver Age </th>
                <td>{{minDriverAge}}</td>
            </tr>
            <tr>
                <th>Required License Age </th>
                <td>{{minLicenseAge}}</td>
            </tr>
            <tr>
                <th>0-100 (km/h)</th>
                <td>{{zeroToHundredKmh}}</td>
            </tr>
        </table>
           <div class="car-edit d-flex align-items-center justify-content-center">         
                <form method="get" action="/car-edit/{{id}}">
                    <button type="submit" class="btn btn-primary mx-3 mt-3">Edit</button>
                </form>    
                <form method="post" action="/car-list/{{id}}">
                    <button type="submit" class="btn btn-danger mx-3 mt-3">Delete</button>
                </form>
            </div>  
      </div>
    </div>
  </div>
</div>
{{/each}}
   
   