<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<div class="container background_space w-100 h-100">
    <div class="row content mt-3 justify-content-center text-center">
        <div class="col-6 col-sm-6 car_content">
            <div class="car_content_header">
                <p class="text-white">Drive with best experience</p>
            </div>
            <div class="mt-3">
                <h2 class="text-white display-4 fw-bold">Rent The Best Car</h2>
            </div>
            <div class="mt-5 car_photo">
                <img  src="./img/mercedes_cls_photo.png" width="100%" height="100%" alt="">
            </div>
            <div class="car_content_p">
                <p class="text-white text-wrap car_content_footer">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit officia consequat duis enim vellit mollit.
                </p>
            </div>         
        </div>
    </div>
    <div class="row date mt-5 justify-content-center text-center ">
        <div class="col-lg-10 col-sm-12 date_content d-flex p-2 bg-white rounded rounded-5">
            <form method="post" class="w-100 datepicker_form"> 
                <div class="col-lg-5 col-sm-3 border-end border-dark location_input p-2">
                    <div class="mb-4">
                        <select value="{{values.pickBranchId}}" name="pickBranchId" id="pickBranchId" class="form-select {{validateInput 'pickBranchId'}} branch_select" aria-label="Default select example" required>
                        {{#each branchs}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    {{validationFeedback 'pickBranchId'}} 
                    </div>
                    <div class="d-flex flex-wrap">
                        <input class="mb-4" placeholder="Pick-up date" id="datepicker" name="datepicker" data-dependent="#datepicker1"  style="width:150px" required/>
                        <select class="ms-5 location_select"  value="{{values.startDate}}" name="startDate" id="startDate" class="form-select {{validateInput 'startDate'}}" aria-label="Default select example" required>
                            <option value="" selected="" disabled="">Time</option>
                            <option value="00.00">00.00</option>
                            <option value="01.00" >01.00</option>
                            <option value="02.00" >02.00</option>
                            <option value="03.00" >03.00</option>
                            <option value="04.00" >04.00</option>
                            <option value="05.00" >05.00</option>
                            <option value="06.00" >06.00</option>
                            <option value="07.00" >07.00</option>
                            <option value="08.00" >08.00</option>
                            <option value="09.00" >09.00</option>
                            <option value="10.00" >10.00</option>
                            <option value="11.00" >11.00</option>
                            <option value="12.00" >12.00</option>
                            <option value="13.00" >13.00</option>
                            <option value="14.00" >14.00</option>
                            <option value="15.00" >15.00</option>
                            <option value="16.00" >16.00</option>
                            <option value="17.00" >17.00</option>
                            <option value="18.00" >18.00</option>
                            <option value="19.00" >19.00</option>
                            <option value="20.00" >20.00</option>
                            <option value="21.00" >21.00</option>
                            <option value="22.00" >22.00</option>
                            <option value="23.00" >23.00</option>
                        </select>
                        {{validationFeedback 'startDate'}}
                    </div>
                </div>
                <div class="col-lg-5 col-sm-3 border-end border-dark location_input p-2">
                    <div class="mb-4">
                        <select value="{{values.dropBranchId}}" name="dropBranchId" id="dropBranchId" class="form-select {{validateInput 'dropBranchId'}} branch_select" aria-label="Default select example">
                        {{#each branchs}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    {{validationFeedback 'dropBranchId'}} 
                    </div>
                    <div class="d-flex flex-wrap">
                        <input class="mb-4" placeholder="Drop-off date" id="datepicker1" name="datepicker1"  style="width:150px" required/>
                        <select class="ms-5 location_select"  value="{{values.endDate}}" name="endDate" id="endDate" class="form-select {{validateInput 'endDate'}}" aria-label="Default select example">
                            <option value="" selected="" disabled="">Time</option>
                            <option value="00.00">00.00</option>
                            <option value="01.00" >01.00</option>
                            <option value="02.00" >02.00</option>
                            <option value="03.00" >03.00</option>
                            <option value="04.00" >04.00</option>
                            <option value="05.00" >05.00</option>
                            <option value="06.00" >06.00</option>
                            <option value="07.00" >07.00</option>
                            <option value="08.00" >08.00</option>
                            <option value="09.00" >09.00</option>
                            <option value="10.00" >10.00</option>
                            <option value="11.00" >11.00</option>
                            <option value="12.00" >12.00</option>
                            <option value="13.00" >13.00</option>
                            <option value="14.00" >14.00</option>
                            <option value="15.00" >15.00</option>
                            <option value="16.00" >16.00</option>
                            <option value="17.00" >17.00</option>
                            <option value="18.00" >18.00</option>
                            <option value="19.00" >19.00</option>
                            <option value="20.00" >20.00</option>
                            <option value="21.00" >21.00</option>
                            <option value="22.00" >22.00</option>
                            <option value="23.00" >23.00</option>
                        </select>
                        {{validationFeedback 'endDate'}}
                    </div> 
                </div>
                <div class="col-lg-2 col-sm-5 search_content justify-content-center">
                    <button type="submit" class="btn-primary form-control mb-4 mt-5 btn btn-info w-75">Rent A Car</button>
                </div>
            </form>                       
        </div>
    </div>
    <div class="row question text-center justify-content-center">
        <div class="col-lg-6 col-sm-12">
            <p class="text-primary">What we Serve</p>
            <h2 class="display-6 fw-bold">Why Choose Rento</h2>
        </div>
    </div>
    <div class="row rental_detail">
        <div class="col-lg-3 col-sm-10 safety_first text-wrap me-3">
            <div class="safety_first_text">
                <img class="rounded-circle border border-primary p-4 mb-3" src="./img/car-4-24.png" alt="">
                <h5 class="fw-bold">Safety First</h5>
                <p class="mt-3"> 
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.Velit officia consequat
                    duis enim velit mollit.Exercition veniam consequat sunt nostrud amet.
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-10  text-wrap fast_easy_booking_content me-3">
            <div class="fast_easy_booking ">
                <img class="rounded-circle border border-primary p-4 mb-3" src="./img/speedometer-24.png" alt="">
                <h5 class="fw-bold">Fast Easy Booking</h5>
                <p class="mt-3"> 
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.Velit officia consequat
                    duis enim velit mollit.Exercition veniam consequat sunt nostrud amet.
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-10">
            <div class="many_pickup_location ">
                <img class="rounded-circle border border-primary p-4 mb-3" src="./img/car-4-24.png" alt="">
                <h5 class="fw-bold">Many Pickup Location</h5>
                <p class="mt-3"> 
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.Velit officia consequat
                    duis enim velit mollit.Exercition veniam consequat sunt nostrud amet.
                </p>
            </div>
        </div>
    </div>
    <div class="row bg-white experience">
        <div class="col-lg-6 col-sm-12 exprience_content">
            <img class="rounded-4 me-5 exprience_photo" src="./img/car_safari_photo.png" alt="">
        </div>
        <div class="col-lg-6 col-sm-12 exprience_content">
            <div class="exprience_content_text">
                <p class="text-primary mt-5 mb-5">Learn about us</p>
                <h2 class="display-6 fw-bold w-75">Best Experience of Traveling</h2>
                <p class="w-75 mt-5 mb-5">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.Velit officia consequat
                    duis enim velit mollit.Exercition veniam consequat sunt nostrud amet.
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.Velit officia consequat
                    duis enim velit mollit.Exercition veniam consequat sunt nostrud amet.Amet minim mollit non deserunt
                </p>
                <button class="btn bg-primary text-white experience_btn mb-5 p-2">Learn More</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center car_dentals_title">
        <div class="col-12 col-sm-12 text-center">
            <p>Explore out cars you might like!</p>
            <h2 class="display-6 fw-bold">Car Rental Deals</h2>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-lg-12 col-sm-12 car_type justify-content-center text-center">   
            <form action="" method="get" class="car_type_form">
                 {{#each carTypes}}
                    <a href="/cars/type/{{id}}" class="btn bg-primary text-white rounded p-2 me-4"  role="button">{{name}}</a>
                 {{/each}}        
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-5 d-flex">
        {{#each cars}}
        <div class="col-lg-3 col-sm-3 bg-white car_card mb-5 flex-wrap">
            <div class="d-flex mt-4">
                <h6 class="w-75">{{brand}} - {{model}}</h6>
                <img class="ms-5" src="./img/save_icon.png" class="save_icon" width="20px" height="20px" alt="">              
            </div>
            <div class="mt-1">
                <img src="{{thumbnail}}" class="mb-4" width="326px" height="93px" alt="">
                <h6>${{hourlyPrice}}/day</h6>
                <p>25</p>
            </div>
            <div class="d-flex flex-wrap">
                <div class="mb-3 w-50">
                    <div class="d-flex me-5 mb-2">
                        <img src="./img/user-6-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">{{seats}} Seats</p>
                    </div>
                    <div  class="d-flex  mb-2">
                        <img src="./img/gear_shift-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2 ">{{transmission}}</p>
                    </div>
                </div>
               <div class="mb-3 w-50">
                    <div  class="d-flex me-5 mb-2">
                        <img src="./img/hp-icon.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">{{hp}} HP</p>
                    </div>
                    <div class="d-flex mb-2">
                        <img src="./img/fuel-2-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                        <p class="mt-2">{{fuel}}</p>
                    </div>
               </div>  
            </div>
            <a href="/cars/{{id}}" class="btn w-100 bg-primary text-white rounded mb-3" role="button"><h6 class="mt-1">Rent a Car</h6></a> 
        </div>
      {{/each}} 
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-lg-2 col-sm-4 mt-5 cars_button">
            <a href="/cars" class="btn text-primary border border-primary rounded view_more_btn" role="button"><h6 class="mt-1">View More</h6></a>  
        </div>
    </div>
    <div class="row car_logo p-5 justify-content-center text-center">
        <div class="col-lg-2 col-sm-4 mb-5">
            <img src="./img/rollsroyce_logo.png" class="car_logo_photo" alt="">
        </div>
        <div class="col-lg-2 col-sm-4">
            <img src="./img/ferrari_logo.png" class="car_logo_photo bg-opacity-25" alt="">
        </div>
        <div class="col-lg-2 col-sm-4">
            <img src="./img/mercedesbenz_logo.png" class="car_logo_photo" alt="">
        </div>
        <div class="col-lg-2 col-sm-4">
            <img src="./img/lamborghini_logo.png" class="car_logo_photo" alt="">
        </div>
        <div class="col-lg-2 col-sm-4">
            <img src="./img/audi_logo.png" class="car_logo_photo" alt="">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-12 col-sm-12 text-center justify-content-center">
            <p class="text-primary">Exlore out cars you might like!</p>
            <h2 class="display-6 fw-bold">Latest Added</h2>
        </div>
    </div>
    <div class="row large_car_card text-center justify-content-center ">
        <div class="col-lg-4 col-sm-4 large_car_card_content bg-white">
            <h4 class="fw-bold mt-5">Mercedes E-class</h4>
            <p>$200/day</p>
            <img src="./img/mercedes_cls_photo.png" class="large_car_card_photo" width="616px" height="246px" alt="">
            <div class="large_car_card_property d-flex flex-wrap text-center justify-content-center mb-5 ms-3">
                    <img src="./img/user-6-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                    <p class="mt-2 me-3">Seats</p>     
                    <img src="./img/gear_shift-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                    <p class="mt-2 me-3">Auto</p>
                    <img src="./img/ac-25-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                    <p class="mt-2 me-3">AC</p>
                    <img src="./img/fuel-2-24.png" class="me-2 border border-primary rounded h-25 p-2" alt="">
                    <p class="mt-2 me-3">Petrol</p>
            </div>
            <button class="btn bg-primary text-white large_car_card_btn mb-3">Rent a Car</button>
        </div>     
    </div>
    <div class="row bg-white text-center justify-content-center">
        <div class="col-lg-12 col-sm-12 explore_cities text-wrap">
            <p class="text-primary mt-5">Explore by Cities</p>
            <h2 class="display-6 fw-bold mb-3">Find a Car By City</h2>
            <p class="explore_cities_content mb-5">Amet minim mollit non deserunt ullamco est sit aliqua dolar
            dp aöet sint.Velit officia consequat duis enim velit mollit. 
            </p>
        </div>
    </div>
    <div class="row d-flex city_content flex-wrap">
            <div class="col-lg-2 col-sm-4 citys">
                <img class="rounded" src="./img/madrid_photo.png" width="150px" height="170px" alt="">
                <p class="text-white">Madrid</p>
                <img class="arrow_icon" src="./img/arrow.png" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 citys">
                <img class="rounded" src="./img/barcelona_photo.png"  width="150px" height="170px" alt="">
                <p class="text-white">Barcelona</p>
                <img class="arrow_icon" src="./img/arrow.png" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 citys">
                <img class="rounded" src="./img/valencia_photo.png"  width="150px" height="170px" alt="">
                <p class="text-white">Valencia</p>
                <img class="arrow_icon" src="./img/arrow.png" alt="">
            </div>
            <div class="col-lg-2 citys">
                <img class="rounded" src="./img/paris_photo.png"  width="150px" height="170px" alt="">
                <p class="text-white">Paris</p>
                <img class="arrow_icon" src="./img/arrow.png" alt="">
            </div>
            <div class="col-lg-2 citys">
                <img class="rounded" src="./img/manali_photo.png"  width="150px" height="170px" alt="">
                <p class="text-white">Manali</p>
                <img class="arrow_icon" src="./img/arrow.png" alt="">
            </div>
            <div class="col-lg-2 citys">
                <img class="rounded" src="./img/budapest_photo.png"  width="150px" height="170px" alt="">
                <p class="text-white">Budapest</p>
                <img class="arrow_icon" src="./img/arrow.png" alt="">
            </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-8 mt-5 mb-5">
            <div class="ms-3">
                <p class="text-primary">Why Choose Us</p>
                <h2 class="display-6 fw-bold">We Offer the best experience with our rental deals</h2>
            </div>
            <div class="d-flex">
                <div class="mt-5 ms-3 me-5 justify-content-center">
                     <img class="p-3 bg-white rounded" src="./img/wallet-2-24.png" alt="">
                </div>
                <div>
                    <h5 class="mt-5">Best Price Guaranteed</h5>
                    <p class="w-75">Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit officia consequat duis 
                    </p>
                </div>     
            </div>
            <div class="d-flex">
                <div class="mt-5 ms-3 me-5 justify-content-center">
                     <img class="p-3 bg-white rounded" src="./img/time-4-24.png" alt="">
                </div>
                <div>
                    <h5 class="mt-5">24-hour Delivery</h5>
                    <p class="w-75">Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit officia consequat duis 
                    </p>
                </div>     
            </div>
            <div class="d-flex">
                <div class="mt-5 ms-3 me-5 justify-content-center">
                     <img class="p-3 bg-white rounded" src="./img/speech-bubble-24.png" alt="">
                </div>
                <div>
                    <h5 class="mt-5">24/7 Support</h5>
                    <p class="w-75">Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit officia consequat duis 
                    </p>
                </div>     
            </div>
        </div>
        <div class="col-lg-6 col-sm-10 mt-5">
            <img  src="./img/choose_car_photo.png" class="choose_car_photo" width="550px" alt="">
        </div>
    </div>
    <div class="row bg-white">
        <div class="col-lg-4 footer">
            <h2 class="text-primary mb-5">LuxeLane</h2>
            <p class="w-75">Amet minim mollit no deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit mollit.
            </p>
        </div>
        <div class="col-lg-1 footer">
            <h6 class="text-primary mb-4">Product</h6>
            <div class="footer_content">
                <div class="footer_content_text_first">
                    <p>Overview</p>
                    <p>Features</p>
                    <p>Solution</p>
                </div>
                <div class="footer_content_text_second">
                    <p>Success Strories</p>
                    <p>Business Licence</p>
                </div>
            </div>
        </div>
        <div class="col-lg-1 footer">
            <h6 class="text-primary mb-4">Company</h6>
            <div class="footer_content">
                <div class="footer_content_text_first">
                    <p>About</p>
                    <p>Careers</p>
                    <p>Press</p>
                </div>
                <div class="footer_content_text_second">
                    <p>News</p>
                    <p>Contact</p>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-sm-4 footer">
            <h6 class="text-primary mb-4">Resources</h6>
            <div class="footer_content">
                <div class="footer_content_text_first">
                    <p>Blog</p>
                    <p>Newslatter</p>
                    <p>Assets</p>
                </div>
                <div class="footer_content_text_second">
                    <p>Help Center</p>
                    <p>Tutorials</p>
                    <p>Support</p>
                </div> 
            </div>
        </div>
        <div class="col-lg-1 col-sm-4 footer">
            <h6 class="text-primary mb-4">Social</h6>
            <div class="footer_content">
                <div class="footer_content_text_first">
                    <p>Twitter</p>
                    <p>Linkedin</p>
                    <p>Facebook</p>
                </div>
                <div class="footer_content_text_second">   
                    <p>Behance</p>
                    <p>Instagram</p>
                    <p>Dribbble</p>
                </div>
            </div>  
        </div>
        <div class="col-lg-1 col-sm-4 footer">
            <h6 class="text-primary mb-4">Legal</h6>
            <div class="footer_content">
                <div class="footer_content_text_first">
                    <p>Terms</p>
                    <p>Privacy</p>
                    <p>Cookies</p>
                </div>
                <div class="footer_content_text_second">
                    <p>Licenses</p>
                    <p>Settings</p>
                    <p>Contact</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        $(function() {
            $("#datepicker").datepicker({
                minDate: 0,
                dateFormat: "dd/mm/yy",
                onSelect: function(date, datepicker) {
                let dependent= $(this).data('dependent');
                let thisDate = $(this).val();
                $(dependent).datepicker("option", "minDate", thisDate);
                $(dependent).datepicker('refresh');
                }
            });
            $("#datepicker1").datepicker({
                dateFormat: "dd/mm/yy"
            });
        });
</script>
