l<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

<div class="container">
    <div class="row mt-5">
        <div class="col-8 car_detail_bg rounded text-center">
            <div class="d-flex">
                <div class="mt-5 w-50">
                    <img src="{{car.thumbnail}}" class="mb-4" width="350px" height="300px" alt="">       
                </div>
                <form method="post">
                <div class="mt-5 ms-5">
                    <div>
                        <h5 class="mt-5 ms-3">{{carBrand.name}} - {{car.model}}</h5>
                    </div>
                    <div class="d-flex mt-4 ms-3">
                        <img src="/img/user-6-24.png" class="me-2 border border-primary rounded p-2" width="36px" height="36px" alt="">
                        <p class="mt-2">{{car.seats}} Seats</p>
                        <img src="/img/gear_shift-24.png" class="me-2 border border-primary rounded p-2 ms-4" width="36px" height="36px" alt="">
                        <p class="mt-2">{{car.transmission}}</p>
                    </div>
                    <div class="d-flex mt-4 ms-3">
                        <img src="/img/hp-icon.png" class="me-2 border border-primary rounded h-25 p-2" width="36px" height="36px" alt="">
                        <p class="mt-2">{{car.hp}} HP</p>
                        <img src="/img/fuel-2-24.png" class="me-2 border border-primary rounded p-2 ms-4" width="36px" height="36px" alt="">
                        <p class="mt-2">{{car.fuel}}</p>
                    </div>    
                </div>     
            </div>
            <div class="border-top border-bottom mt-5 h-25 d-flex">
                <div>
                    <div class="d-flex">
                        <h5 class="float-start mt-5">Greate Choice!</h5>
                    </div>
                    <div class="d-flex mt-4">
                        <img src="/img/checkmark-24.png" class="me-3 border border-primary rounded h-25 p-2" width="30px" height="30px" alt="">
                        <p class="me-5">Most Popular fuel policy</p>
                        <img src="/img/checkmark-24.png" class="me-3 border border-primary rounded p-2 ms-4" width="30px" height="30px" alt="">
                        <p>Free Cancellation</p>
                    </div>
                </div>
                <div class="order_greatchoice_photo">
                    <img class="float-end" src="/img/car_key_photo.png" alt="" width="100px" height="100px">
                </div>
            </div>
            <div class="mb-5 h-25 d-flex">
                <div>
                    <div class="d-flex">
                        <h5 class="float-start mt-5">Greate Choice!</h5>
                    </div>
                    <div class="d-flex mt-4 mb-5">
                        <img src="/img/checkmark-24.png" class="me-3 border border-primary rounded h-25 p-2" width="30px" height="30px" alt="">
                        <p class="me-5">Most Popular fuel policy</p>
                        <img src="/img/checkmark-24.png" class="me-3 border border-primary rounded p-2 ms-4 " width="30px" height="30px" alt="">
                        <p>Free Cancellation</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="justify-content-center">
                <div class="mt-5 border me-3 w-100 ms-4 p-4">
                    <h5 class="mt-3">Pick-up and drop-off</h5>
                    <div class="mb-3 mt-4 d-flex">
                        <span class="dot me-2 mt-1"></span>
                        <p class="mb-0 font-monospace">{{startDate}}</p>
                    </div>
                    <div class="ms-4 mt-1">
                        <p class="mb-1 p-0 fw-bold font-monospace">{{startBranchName.name}}</p>
                        <p class="mb-5 p-0">View drop-off instructions</p>
                    </div>
                    <div class="mb-3 mt-4 d-flex">
                        <span class="dot me-2 mt-1"></span>
                        <p class="mb-0 font-monospace">{{endDate}}</p>
                    </div>
                    <div class="ms-4 mt-1">
                        <p class="mb-1 p-0 fw-bold font-monospace">{{dropBranchName.name}}</p>
                        <p class="mb-5 p-0">View drop-off instructions</p>
                    </div>
                </div>
                <div class="mt-5 border me-3 w-100 ms-4 p-4">
                    <h5>Car Price breakdown</h5>
                    <div class="mt-4">
                        <div class="d-flex">
                            <p class="me-5">Car Hire charge</p>
                            <p>${{carPrice}}</p>
                        </div>
                        <div class="d-flex border-top border-primary">
                            <p class="me-5 mt-3">Price for 3 days</p>
                            <p class="mt-3">${{carPrice}}</p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="ms-4 mt-4">
                <button type="submit" class="btn-primary form-control mb-4 btn btn-info">Addd Car</button>
                </form>       
            </div>    
        </div>
    </div>
</div>
