<div class="container">
   <div>
    <a href="/admin-dashboard" class="link-offset-2 link-underline link-underline-opacity-0">Go to Dashboard</a>
  </div>
  {{#if errors }}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong> Fix errors </strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {{/if}}
    <div class="mt-2 h-100 d-flex align-items-center justify-content-center" >
      <form method="post">
        <div class="row mb-4">
            <div class="form-outline">
                <input value="{{values.name}}" type="text" class="form-control {{validateInput 'name'}}" name="name" id="name" placeholder="Branch Name" required/>
                {{validationFeedback 'name'}}
            </div>
            <div class="form-outline">
                <input value="{{values.address}}" type="text" class="form-control {{validateInput 'address'}}" name="address" id="address" placeholder="Address" required/>
                {{validationFeedback 'address'}}
            </div>
            <div class="form-outline">
                <input value="{{values.phone}}" type="text" class="form-control {{validateInput 'phone'}}" name="phone" id="phone" placeholder="Phone" required/>
                {{validationFeedback 'phone'}}
            </div>   
        <button type="submit" class="btn-primary form-control mb-4 btn btn-info">Add Car</button> 
      </form>
    </div>
</div>
