<div class="container">
   <div>
    <a href="/cars/" class="link-offset-2 link-underline link-underline-opacity-0">Go to Car List</a>
   </div>
    {{#if errors }}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong> Fix errors </strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {{/if}}
    <div class="mt-2 h-100 d-flex align-items-center justify-content-center" >
      <form method="post"   enctype="multipart/form-data">
        <div class="row mb-4">
          <div class="col">
            <input value="{{brand}}" type="text" class="form-control {{validateInput 'brand'}}" name="brand" id="brand" placeholder="Brand" required/> 
            {{validationFeedback 'brand'}}
          </div>
          <div class="col">
            <div class="form-outline">
              <input value="{{model}}" type="text" class="form-control {{validateInput 'model'}}" name="model" id="model" placeholder="Model" required/>
              {{validationFeedback 'model'}}
            </div>
          </div>
        </div>
       <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input value="{{hp}}" type="number" class="form-control {{validateInput 'hp'}}" name="hp" id="hp" placeholder="Hp" required/>
              {{validationFeedback 'hp'}} 
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input value="{{seats}}" type="number" class="form-control {{validateInput 'seats'}}" name="seats" id="seats" placeholder="Seats" required/>
              {{validationFeedback 'seats'}}
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input value="{{hourlyPrice}}" type="number" class="form-control {{validateInput 'hourlyPrice'}}" name="hourlyPrice" id="hourlyPrice" placeholder="Hourly Price" required/>
              {{validationFeedback 'hourlyPrice'}}
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input value="{{zeroToHundredKmh}}" type="number" class="form-control {{validateInput 'zeroToHundredKmh'}}" name="zeroToHundredKmh" id="zeroToHundredKmh" placeholder="Zero To Hundred Kmh" required/>
              {{validationFeedback 'zeroToHundredKmh'}}
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <select value="{{fuel}}" class="form-select {{validateInput 'fuel'}}" name="fuel" id="fuel">
                <option value="" selected="" disabled="">Select Fuel</option>
                <option value="GASOLINE">Gasoline</option>
                <option value="DIESEL">Diesel</option>
                <option value="HYBRID">Hybrid</option>
                <option value="ELECTRIC">Electric</option>
              </select>
              {{validationFeedback 'fuel'}}
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
               <select value="{{transmission}}" class="form-select {{validateInput 'transmission'}}" name="transmission" id="transmission">
                <option value="" selected="" disabled="">Select Transmission</option>
                <option value="MANUAL">Manual</option>
                <option value="AUTOMATIC">Automatic</option>
              </select>
              {{validationFeedback 'transmission'}}
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <select value="{{bodyType}}" class="form-select {{validateInput 'bodyType'}}" name="bodyType" id="bodyType">
                <option value="" selected="" disabled="">Select Body Type</option>
                <option value="COUPE">Coupe</option>
                <option value="CABRIO">Cabrio</option>
                <option value="SEDAN">Sedan</option>
                <option value="HATCHBACK">Hatchback</option>
                <option value="SUV">SUV</option>
                <option value="STATION_WAGON">Station Wagon</option>
              </select>
              {{validationFeedback 'bodyType'}}
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input value="{{doors}}" type="number" class="form-control {{validateInput 'doors'}}" name="doors" id="doors" placeholder="Doors" required/>
              {{validationFeedback 'doors'}}
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input value="{{minDriverAge}}" type="number" class="form-control {{validateInput 'minDriverAge'}}" name="minDriverAge" id="minDriverAge" placeholder="Min Driver Age" required/>
              {{validationFeedback 'minDriverAge'}}
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input value="{{minLicenseAge}}" type="number" class="form-control {{validateInput 'minLicenseAge'}}" name="minLicenseAge" id="minLicenseAge" placeholder="Min License Age" required/>
              {{validationFeedback 'minLicenseAge'}}
            </div>
          </div>
        </div>
         <div class="form-outline mb-4">
          <select value="{{status}}" name="status" id="status" class="form-select {{validateInput 'status'}}" aria-label="Default select example">
            <option value="" selected="" disabled="">Select Status</option>
            <option value="ACTIVE">Active</option>
            <option value="MAINTENANCE">Maintenance</option>
            <option value="PRIVATE">Private</option>
          </select>
          {{validationFeedback 'status'}}
        </div>
        <div class="form-outline mb-4">
          <input value="{{uploaded_file}}" type="file" class="form-control {{validateInput 'uploaded_file'}}" name="uploaded_file" id="file" placeholder="File" required/>
          {{validationFeedback 'uploaded_file'}}
        </div>
        <button type="submit" class="btn-primary form-control mb-4 btn btn-info" >Add Car</button> 
      </form>
    </div>
</div>